@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@400;600;700&display=swap');

a {
    all: unset;
}
html, body {
    margin: 0;
    padding: 0;
}

body{
    font-family: Archivo;
    background-color: #F0F0F0;
}


.Main{
    flex-direction: column;
    margin: auto;
    width: 1440px;
    }
