@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@400;600;700&display=swap');

a {
    all: unset;
}
html, body {
    margin: 0;
    padding: 0;
}

body{
    font-family: Archivo;
}

.Main{
    margin-left: 120px;
    margin-right: 120px;
}
