.Banner{
    height: 530px;
    display: flex;
    width: 1440px;
}

.BannerText{
    width: 730px;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.BannerText h1{
    font-size: 60px;
    line-height: 71px;
    margin-bottom: 20px;
    margin-top: 0;
}

.BannerText h3{
    width: 488px;
    font-size: 25px;
    line-height: 37px;
    font-weight: 400;
}

.BannerGetStartedButton{
    width: 164px;
    height: 67px;
    border: none;
    background-color: #4200FF;
    color: #F0F0F0;
    font-size: 21px;
    margin-top: 52px;
    margin-bottom: 10px;
}

.BannerText h5{
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 0;
}

.BannerDiscord{
    color: #3100BD;
    display: inline;
}

.BannerLogo{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 710px;
    border: 2px solid red;
}