::-webkit-input-placeholder {
   color: #F0F0F0;
}

.ContactForm{
    background-color:#4200FF;
    height: 480px;
    margin-top: 183px;
    margin-bottom: 100px;
    color: #F0F0F0;
    margin-top: 183px;
}

.ContactZone{
    padding: 68px 68px 200px 53px;
}


.ContactTittle{
    display: flex;
}

.ContactTittle  h4{
    width: 338px;
    margin-left: 38px;
    font-size: 20px;
    font-weight: 400;
}

.ContactTittle  h1{
    font-size: 40px;
    font-weight: 700;
}


.ContactInputs{
    display: flex;
    margin-bottom: 50px;
    gap: 36px;
}



.ContactInput input{
width: 371px;
height: 54px;
background-color: #3800D9;
border: none;
}

input[type=email], input[type=text] {
  color: #F0F0F0;
  font-size: 18px;
  padding-left: 22px;
}

.ContactButton button{
    background-color: #F0F0F0;
    border: none;
    padding: 22px 41px 22px 40px;
    color: #3800D9;
    font-size: 21px;
    font-weight: 600;
}