.Services{
    margin-top: 40px;
    margin-bottom: 239px;
    height: 815px;
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.ServicesCard{
    height: 100%;
    width: 590px;
    display: flex;
    flex-direction: column;
    padding: 60px 44px 43px 51px;
}

/*  .MarMarketingCampaigns should have background image on left top side from svg file*/


.MarMarketingCampaigns{
    background-color: #F89C2F;
    color: #71430C;
    background-image: url(../assets/background/ServicesCM.svg);
    background-repeat: no-repeat;
}
.MarMarketingCampaigns .MiniCard{
background: radial-gradient(50% 50% at 50% 50%, #EA952F 0%, #E48D22 100%);
}

.CommunityManagement{
    background-color:#ACCB47;
    color: #314000;
    background-image: url(../assets/background/ServicesMC.svg);
    background-repeat: no-repeat;
    background-position: right top;
}
.CommunityManagement .MiniCard{
background: radial-gradient(50% 50% at 50% 50%, #7A9A13 0%, #81A01F 100%);
}

.ServicesTittle{
    font-size: 30px;
    font-weight: 700;
    margin-top: 22px;
    margin-bottom: 18px;
}

.ServicesInfo{
 font-size: 22px; 
 width: 479px;  
 line-height: 30px;
}

.ServicesInclude{
    font-size: 20px;
    font-weight: 700;
    margin-top: 57px;
    margin-bottom: 24px;
}

.ServicesMiniCards{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.MinicardContent{
    padding: 22px 25px 30px 27px;
    height: 100%;
}

.MiniCard{
    width: 236px;
    height: 185px;
}

.MiniCardTop{
    height: 30%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
}
.MiniCardInfo{
    font-size: 18px;
    margin-top: 15px;
    line-height: 23px;
    width: 188px;
}