.Team{
    height: 300px;
    border: 2px solid red;
    padding-top: 60px;
    display: flex;

}

.TeamInfo h1{
font-size: 40px;
}

.TeamInfo h4{
font-size: 20px;
color: #373737;
width: 239px;
font-weight: 400;
margin-right: 127px;
}

.TeamPhotos{
    display: flex;
}