.Team{
    height: 300px;

    display: flex;
}

.TeamInfo h1{
font-size: 40px;
}

.TeamInfo h4{
font-size: 20px;
color: #373737;
width: 239px;
font-weight: 400;
margin-right: 127px;
}

.TeamPhotos{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.MemberInfo{
    display: flex;
    justify-content: space-between;
}

.MemberNameTittle{
  line-height: 4px;  
}

.MemberSocialLinks{
    margin-top: 16px;
    display: flex;
    gap: 1rem;
}

.MemberNameTittle h2{
    font-size: 22px;
}

.MemberNameTittle h4{
    font-size: 20px;
    font-weight: 400;
}

.TW{
    background-color: #CAC0E6;
    height: 32px;
    width: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.LD{
    background-color: #CAC0E6;
    height: 32px;
    width: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
}